<div class="dice-roll">
    <div class="dice-result">
        <span class="col0_btitle">{{name}}</span>
        <span class="col0_title" style="font-weight: 800;">{{skill1}}</span>
        <span class="col0_title" style="font-weight: 800;">{{skill2}}</span>
        <span class="col0_title">{{difficulty}}</span>
        <span class="col0_title">{{penalty}}</span>
        <span class="col0_title" style="font-weight: 800;">{{result_text}}</span>
        <span class="col0_title">{{result_dice}}</span>
    </div>
</div>
