<div class="dice-roll">
    <div class="dice-result">
        <span class="col0_btitle">{{main_title}}</span>
        <span class="col0_title" style="font-weight: 800;">{{wood_title}}</span>
        <span class="col0_title">{{wood}}</span>
        <span class="col0_title">{{wood_description}}</span>
        <span class="col0_title" style="font-weight: 800;">{{length_title}}</span>
        <span class="col0_title">{{length}}</span>
        <span class="col0_title" style="font-weight: 800;">{{flex_title}}</span>
        <span class="col0_title">{{flex}}</span>
        <span class="col0_title" style="font-weight: 800;">{{core_title}}</span>
        <span class="col0_title">{{core}}</span>
    </div>
</div>
