<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
      <table>
        <tr>
            <td>
              <input type="number" style="box-sizing: border-box; width:50px; height:50px;" name="system.difficult_00" value="{{item.system.difficult_00}}"/>
              <input type="number" style="box-sizing: border-box; width:50px; height:50px;" name="system.difficult_01" value="{{item.system.difficult_01}}"/>
              <input type="number" style="box-sizing: border-box; width:50px; height:50px;" name="system.difficult_02" value="{{item.system.difficult_02}}"/>
            </td>
          </tr>
          <tr>
            <td>
               <textarea name="system.description">{{item.system.description}}</textarea>
            </td>
        </tr>
      </table>
    </div>
</form>